@keyframes fadeInChar {
    from {
        opacity: 0;
transform: scale(0.8);
        //transform: translateY(20px);
    }
    to {
        opacity: 1;
transform: scale(1);
        //transform: translateY(0);
    }
}

.fadein-text span {
 clip-path: inset(100% 0 0 0);
    opacity: 0;
    //display: inline;
    //animation: fadeInChar 0.5s ease forwards;
animation: clipReveal 0.6s ease-out forwards;
}



.fadein-text span {
  opacity: 0;
  animation: clipReveal 0.6s ease-out forwards;
}
@keyframes clipReveal {
  0% {
    clip-path: inset(100% 0 0 0);
    opacity: 0;
  }
  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

$max: 50;
$delay-step: 0.1s;

@for $len from 1 through $max {
    .fadein-text-#{$len} {
        @for $i from 1 through $len {
            span:nth-child(#{$i}) {
                animation-delay: calc(var(--delay-offset, 0s) + #{$i * $delay-step});
            }
        }
    }
}
