@keyframes fadeInBg2 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}
@keyframes fadeInBg3 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

.section-hero {
  .block-hero {
    position: relative;
    min-height: 100vh;
    min-height: calc(100svh - 48px);
  }
  .bg-img {
    position: absolute;
    opacity: 0;
  }
  .fade-in {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
    &.bg-2,
    &.bg-5,
    &.bg-0 {
      animation: fadeInBg2 1s ease-in-out forwards;
    }
    &.bg-3 {
      animation: fadeInBg3 1s ease-in-out forwards;
    }
  }

  .bg-0 {
    bottom: 0;
    right: -77px;
    width: 200px;
    z-index: 1;
  }
  .bg-1 {
    bottom: -10px;
    right: -13px;
    width: 250px;
    z-index: 1;
  }

  .bg-2 {
    left: -30px;
    top: 39%;
    transform: rotate(24deg);
    width: 180px;
    z-index: 1;
  }
  .bg-3 {
    bottom: -40px;
    left: -50px;
    transform: rotate(22deg);
    width: 200px;
    z-index: 0;
  }
  .bg-4 {
    z-index: 3;
    bottom: -50px;
    right: -90px;
    width: 315px;
  }
  .bg-5 {
    bottom: -47px;
    right: 72px;
    transform: rotate(-30deg) scale(-1, 1);
    width: 215px;
    z-index: 0;
  }
  .bg-6 {
    bottom: -10px;
    right: -18px;
    width: 250px;
    z-index: 1;
  }

  .bg-11 {
    left: -87px;
    top: -33px;
    width: 350px;
    z-index: 1;
  }
  .bg-12 {
    left: -90px;
    top: -69px;
    width: 300px;
    z-index: 1;
  }
}

.save-the-date {
  width: 250px;
  position: relative;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  > p {
    color: var(--heading);
    font-family: Marcellus, sans-serif;
    font-size: 11px;
    letter-spacing: 4px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  img {
    position: absolute;
    inset: 0;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
  }
}

.text-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0 80px;
}

.couple-name-wrapper {
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
  row-gap: 30px;
  padding-right: 20px;

  .couple-name {
    font-family: tyscript, Marcellus, sans-serif;
    font-size: 32px;
    letter-spacing: 4px;
  }
  .couple-connect {
    color: var(--subtitle);
    font-family: Le-Jour-Script, Marcellus, sans-serif;
  }
}

.invite-wrapper {
  // padding-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .invite-text {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 4px;
    color: var(--paragraphs);
  }

  .wedding-date {
    font-size: 14px;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 20px 0;

    .date-day {
      font-size: 24px;
      font-weight: 600;
      color: var(--paragraphs);
      padding: 2px 15px;
      border-left: 1px solid var(--border);
      border-right: 1px solid var(--border);
    }

    .date-month,
    .date-year {
      font-size: 14px;
      font-weight: 600;
      color: var(--paragraphs);
    }
  }

  .invite-address {
    // color: var(--subtitle);
    color: var(--paragraphs);
    margin-bottom: 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: 479px) {
  .section-hero {
    .block-hero {
      position: relative;
      min-height: 100vh;
      min-height: calc(100svh - 20px);
    }

    .bg-0 {
      bottom: 0;
      right: -77px;
      width: 170px;
      z-index: 1;
    }
    .bg-1 {
      bottom: -10px;
      right: -18px;
      width: 215px;
      z-index: 1;
    }

    .bg-2 {
      left: -30px;
      top: 45%;
      transform: rotate(24deg);
      width: 120px;
      z-index: 1;
    }
    .bg-3 {
      bottom: -36px;
      left: -40px;
      transform: rotate(22deg);
      width: 155px;
      z-index: 0;
    }
    .bg-4 {
      z-index: 3;
      bottom: -50px;
      right: -90px;
      width: 275px;
    }
    .bg-5 {
      bottom: -47px;
      right: 72px;
      transform: rotate(-30deg) scale(-1, 1);
      width: 175px;
      z-index: 0;
    }
    .bg-6 {
      bottom: -10px;
      right: -18px;
      width: 250px;
      z-index: 1;
    }

    .bg-11 {
      left: -90px;
      top: -69px;
      width: 300px;
      z-index: 1;
    }
    .bg-12 {
      left: -90px;
      top: -69px;
      width: 300px;
      z-index: 1;
    }
  }

  .couple-name-wrapper {
    margin: 30px auto;
    row-gap: 20px;

    .couple-name {
      font-family: tyscript, Marcellus, sans-serif;
      font-size: 28px;
      letter-spacing: 4px;
    }
    .couple-connect {
      color: var(--subtitle);
      font-family: Le-Jour-Script, Marcellus, sans-serif;
    }
  }
}
