@keyframes fadeInBg2 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}
@keyframes fadeInBg3 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 0.1;
  }
}
@keyframes fadeInBg6 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

.section-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100svh;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0;
    filter: blur(8px);
    transition:
      opacity 1.2s ease,
      filter 1.2s ease;
    z-index: -2;
    will-change: opacity, filter;
  }

  &.background-loaded::before {
    background-image: url('../assets/Image-27-2.png');
    opacity: 1;
    filter: blur(0);
  }

  .content {
    display: flex;
    padding: 48px;
    position: relative;
    z-index: 100;
  }

  .hero {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    text-align: center;
    max-width: 600px;
    padding-top: 40px;

    .outer-block-hero {
      position: absolute;
      inset: 0;

      .couple-image {
        img {
          max-height: 100%;
          height: 100%;
          object-fit: cover;
        }
        background: var(--white);
        box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.2);
        height: 200px;
        left: -70px;
        padding: 8px;
        position: absolute;
        top: 30px;
        transform: rotate(-29deg);
        width: 160px;
        z-index: 4;
      }
      .corner-1,
      .corner-2,
      .corner-3,
      .corner-4 {
        position: absolute;
        z-index: 2;
      }

      .corner-1 {
        bottom: -35px;
        right: -48px;
        width: 200px;
        z-index: 3;
      }
      .corner-3 {
        bottom: -85px;
        right: -97px;
        width: 315px;
        z-index: 1;
      }
      .corner-2 {
        height: 400px;
        height: 387px;
        left: -66px;
        left: -75px;
        top: -30px;
        top: 70px;
        transform: rotate(10deg);
        z-index: 3;
      }
      .corner-4 {
        height: 665px;
        left: -135px;
        top: -61px;
        z-index: 1;
      }
    }
  }

  .block-hero {
    z-index: 2;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    position: relative; /* Ensure the pseudo-element is positioned correctly */
    background-color: var(--background); /* Existing background color */
    overflow: hidden;
    border-radius: 50% 50% 0% 0% / 35% 35% 0% 0%;
    box-shadow: 0 10px 30px #0000001a;
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0 15px 40px #0003;
    }
  }

  .bg-img {
    position: absolute;
    opacity: 0;
  }
  .fade-in {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
    &.bg-2,
    &.bg-5,
    &.bg-0,
    &.bg-12,
    &.bg-13 {
      animation: fadeInBg2 1s ease-in-out forwards;
    }
    &.bg-3 {
      animation: fadeInBg3 1s ease-in-out forwards;
    }
    &.bg-6 {
      animation: fadeInBg6 1s ease-in-out forwards;
    }
  }

  .bg-0 {
    bottom: 0;
    right: -77px;
    width: 200px;
    z-index: 1;
  }
  .bg-1 {
    bottom: -10px;
    right: -13px;
    width: 250px;
    z-index: 1;
  }

  .bg-2 {
    left: 20px;
    top: 40%;
    width: 145px;
    z-index: 1;
  }
  .bg-3 {
    top: -0;
    left: 0;
    // transform: rotate(22deg);
    width: 100%;
    z-index: 0;
  }
  .bg-4 {
    z-index: 3;
    bottom: -50px;
    right: -90px;
    width: 315px;
    display: none;
  }
  .bg-5 {
    bottom: -47px;
    right: 72px;
    transform: rotate(-30deg) scale(-1, 1);
    width: 215px;
    z-index: 0;
  }
  .bg-6 {
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
  }

  .bg-11 {
    left: -87px;
    top: -33px;
    width: 350px;
    z-index: 1;
  }
  .bg-12 {
    bottom: -71px;
    left: -28px;
    transform: rotate(22deg);
    width: 175px;
    z-index: 0;
  }
  .bg-13 {
    bottom: -68px;
    left: 36px;
    transform: rotate(28deg);
    width: 195px;
    z-index: 0;
  }
}

.save-the-date {
  width: 250px;
  position: relative;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  > p {
    color: var(--heading);
    font-family: DancingScript, sans-serif;
    font-size: 11px;
    letter-spacing: 4px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  img {
    position: absolute;
    inset: 0;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
  }
}

.text-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;

  .the-wedding {
    width: 225px;
    position: relative;

    .firework-effect {
      inset: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
      width: 100%;
      opacity: 0.7;
    }
  }
}

.couple-name-wrapper {
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
  row-gap: 30px;

  .couple-name {
    font-size: 32px;
    letter-spacing: 4px;
    font-family: 'FleurDeLeah-Regular', sans-serif;
    font-size: 48px;
    letter-spacing: 4px;
    color: var(--heading);
  }
  .couple-connect {
    color: var(--subtitle);
    font-family: 'FleurDeLeah-Regular', sans-serif;
    font-size: 28px;
  }
}

.invite-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .invite-text {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 4px;
    color: var(--paragraphs);
  }

  .wedding-date {
    font-size: 18px;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 24px 24px 24px 0px;
    font-family: 'FleurDeLeah-Regular', sans-serif;

    .date-day {
      font-size: 32px;
      font-weight: 700;
      color: var(--paragraphs);
      padding: 2px 20px;
      border-left: 1px solid var(--border);
      border-right: 1px solid var(--border);
    }

    .date-month,
    .date-year {
      font-size: 18px;
      color: var(--paragraphs);
    }
  }

  .invite-address {
    color: var(--paragraphs);
    margin-bottom: 20px;
    font-size: 18px;
  }
}

@media screen and (max-width: 479px) {
  .section-hero {
    &::before {
      // content: none;
    }

    .hero {
      padding-left: 0;
      padding-top: 0;

      &::before,
      &::after {
        content: none;
      }

      .outer-block-hero {
        display: none;
      }
    }

    .content {
      display: flex;
      padding: 10px;
      flex: 1;
      overflow: hidden;
    }

    .block-hero {
      border-radius: 0;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1) !important;
      background-position: center;

      .text-hero {
        padding: 60px 0 80px;
        .the-wedding {
          width: 175px;
        }
      }
    }

    .bg-0 {
      bottom: 0;
      right: -77px;
      width: 170px;
      z-index: 1;
    }
    .bg-1 {
      bottom: -10px;
      right: -18px;
      width: 215px;
      z-index: 1;
    }

    .bg-2 {
      left: 10px;
      top: 55%;
      width: 80px;
      z-index: 1;
    }
    // .bg-3 {
    //   bottom: -36px;
    //   left: -40px;
    //   transform: rotate(22deg);
    //   width: 155px;
    //   z-index: 0;
    // }
    .bg-4 {
      z-index: 3;
      bottom: -50px;
      right: -90px;
      width: 275px;
      display: block;
    }
    .bg-5 {
      bottom: -47px;
      right: 72px;
      transform: rotate(-30deg) scale(-1, 1);
      width: 175px;
      z-index: 0;
    }
    .bg-6 {
      top: -20px;
      right: 0;
      width: 100%;
      z-index: -1;
    }

    .bg-11 {
      left: -151px;
      opacity: 0.4 !important;
      top: -134px;
      /* transform: rotate(-20deg); */
      width: 300px;
      z-index: 1;
    }

    .bg-12 {
      bottom: -71px;
      left: -28px;
      transform: rotate(22deg);
      width: 105px;
      z-index: 0;
    }
    .bg-13 {
      bottom: -47px;
      left: 20px;
      transform: rotate(28deg);
      width: 117px;
      z-index: 0;
    }
  }

  .couple-name-wrapper {
    margin: 45px auto 30px;
    row-gap: 20px;

    .couple-name {
      font-size: 32px;
      letter-spacing: 4px;
      font-family: 'FleurDeLeah-Regular', sans-serif;
      font-size: 36px;
      letter-spacing: 4px;
    }
    .couple-connect {
      font-size: 32px;
      color: var(--subtitle);
      font-family: 'FleurDeLeah-Regular', sans-serif;
    }
  }

  .invite-wrapper {
    .invite-text {
    }

    .wedding-date {
      column-gap: 16px;
      .date-day {
        font-size: 28px;
      }

      .date-month,
      .date-year {
        font-size: 18px;
      }
    }

    .invite-address {
      font-size: 18px;
    }
  }
}
