*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

input,
textarea,
select {
  border: none;
  outline: none;
  font: inherit;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote {
  quotes: none;
}

blockquote::before,
blockquote::after {
  content: '';
}
